.container {
  padding: 5px;
}
input {
  display: block;
  border-radius: 4px;
  border: 0;
  outline: #63e2e7 1px solid;
  box-shadow: 0 0 5px -3px #7be2f077;
  padding: 4px;
  width: 100%;
  font-size: 1.5rem;
}

input:focus {
  outline: #0c999e 1px solid;
  box-shadow: 0 0 8px -1px #25a5b6;
}

input.error {
  outline: #ff7979 2px solid;
  box-shadow: 0 0 5px 1px #ff000067;
}

p {
  margin: 2px 0px 8px;
}

.err-text {
  color: #ff4343;
}
