.btn-primary {
  padding: 8px;
  width: 100%;
  font-size: 1.3rem;
  outline: 0;
  background-color: rgb(50, 255, 228);
  border: 0;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: rgb(35, 220, 211);
}

.table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  width: 100%;
}
.table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
